html {
    --accent-color: highlight;
    /*light theme: --accent-color-prohibited: #C69B48;*/
    /*dark theme: --accent-color-prohibited: #B2923A;*/
    --accent-color-prohibited: #B2923A;
    --accent-compliment: #000000;
    --page-background: #111111;
    --panel-background: #222222;
    --page-foreground: #fafafa;
    --light-foreground: #aaaaaa;
    --accent-light-compliment: #dddddd;
    --accent-light-hover-compliment: #ffffff;
    --accent-light-activated-compliment: #999999;
    background-color: var(--page-background);
    color: var(--page-foreground);
    height: 100%;
}

html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    font-family: "Segoe UI", "Helvetica Neue", "sans-serif";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.foreground path {
    fill: var(--page-foreground);
}

.contentdialog {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    animation: DialogPopin 0.15s;
}

    .contentdialog .content-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 50% 50%;
        text-align: center;
        margin: 0px;
        width: 90%;
        width: calc(100% - 26px);
    }

        .contentdialog .content-box span {
            display: block;
            text-align: justify;
        }

@keyframes DialogPopin {
    0% {
        opacity: 0;
        transform: scale(1.5)
    }

    100% {
        opacity: 1;
        transform: scale(1.0)
    }
}


button {
    border-width: 0px;
    color: var(--accent-compliment);
    background-color: var(--accent-color);
    padding: 5px 6px;
    border-radius: 5px;
}

@keyframes shine-move {
    0% {
        background-position: -2500px 0;
    }

    100% {
        background-position: 5000px 0;
    }
}

.shine {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 48.44%, rgba(181, 181, 181, 0.50) 75.52%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    animation: shine-move linear 3.2s infinite;
}

.selectable {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: text;
    cursor: text;
}

.picture {
    width: 200px;
    height: 200px;
    /*
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.2));
    border: 1px solid rgba(0, 0, 0, 0.2);
    */
}

.shadow {
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.bordered-shadow {
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

navbar {
    background-color: var(--panel-background);
    border: 0px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 48px;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: thin;
}

    navbar div a {
        margin-left: 12px;
        margin-right: 12px;
        cursor: pointer;
        vertical-align: middle;
        font-family: 'Segoe UI', 'Helvetica Neue', 'sans-serif';
        line-height: 48px;
        text-decoration: none;
        color: var(--page-foreground);
    }
    navbar div .navbar-first {
        font-family: 'Segoe UI Semibold', 'Helvetica Neue', 'sans-serif';
    }

.docked-btn {
    background-color: var(--accent-color);
    color: var(--accent-light-compliment);
    text-decoration: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 66px;
    width: 100%;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .docked-btn:hover {
        /*background-color: #56baed;*/
        color: var(--accent-light-hover-compliment);
    }

    .docked-btn:active {
        /*background-color: #2F6581;*/
        color: var(--accent-light-activated-compliment);
    }

    .docked-btn svg {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
    }

    .docked-btn span {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        font-family: "Segoe UI Light", "Helvetica Neue", "sans-serif";
    }

.unsupported, .unsupported:hover, .unsupported:active {
    background-color: var(--accent-color-prohibited);
    cursor: not-allowed;
}

.content-view {
    overflow: auto;
    position: absolute;
    top: 48px;
    left: 0px;
    right: 0px;
    bottom: 66px;
}

.smooth {
    /*scroll-behavior: smooth;*/
}

center {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

    center div * {
        display: flex;
    }

.sub-block * {
    display: block;
}

.sub-tabs {
    padding: 9px;
    border-radius: 8px;
    background-color: var(--panel-background);
}

    .sub-tabs * {
        display: inline;
        margin: 0px 9px;
    }

    .sub-tabs a {
        display: inline-block;
        position: relative;
        color: var(--accent-color);
        text-decoration: none;
        cursor: pointer;
    }

        .sub-tabs a:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #222222;
            transform-origin: bottom center;
            transition: transform 0.125s ease-out;
        }

        .sub-tabs a:hover:after, .sub-tabs a:active:after {
            transform: scaleX(1);
        }

        .sub-tabs a:hover {
            color: black;
        }

blocks {
    display: block;
    width: 100px;
    height: 100px;
}

#ProductDisplayName {
    color: var(--light-foreground);
    font-size: 22px;
    font-family: 'Segoe UI Semibold', "Helvetica Neue", "sans-serif";
    margin: 12px 6px;
    padding: 0px 6px;
}

    #ProductDisplayName * {
        display: inline;
    }

.marker {
    color: #222222;
    backdrop-filter: blur(12px);
}

.yellow {
    background-color: rgba(255,255,0,0.6);
}

.green {
    background-color: rgba(48,255,0,0.6);
}

.red {
    background-color: rgba(255,0,0,0.6);
}

.hidden {
    display: none;
    visibility: collapse;
}

.content-box {
    text-align: justify;
    max-width: 450px;
    background-color: var(--panel-background);
    margin: 6px 12px;
    border-radius: 6px;
}

    .content-box span {
        margin: 6px 12px;
    }

.chin {
    margin: 0px;
    display: inline-block;
    width: 100%;
}

    .chin:before {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgba(0,0,0,0.1);
        margin: 0 0 3px 0
    }

    .chin div {
        margin: 3px;
        text-align: right;
    }

        .chin div button {
            margin: 3px;
            display: inline-block;
        }
